body{
    text-align:center;
    font-family:Arial, sans-serif;
    transition:background 1s ease;
    overflow-x:hidden;
}
h1{
    color:#d86c9d;
}

#garden{
    width:80%;
    margin:30px auto;
    min-height:300px;
    background:#9be27d;
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}
.flower{
    font-size:40px;
}
.sunny{
    background:linear-gradient(#ffd6eb,#fff4fa);
}

.rainy{
    background:linear-gradient(#5a6472,#2d3640);
    color:white;
}

.rainbow{
    background:linear-gradient(
        90deg,
        #ffb3ba,
        #ffdfba,
        #ffffba,
        #baffc9,
        #bae1ff
    );
}
.storm{
    background:linear-gradient(#1a1a1a,#4a4a4a);
    color:white;
}

#rain-container{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:999;
}
.raindrop{
  position:absolute;
  width:3px;
  height:15px;
  transform:rotate(15deg);
  background:rgba(255,255,255,0.3);
  animation:rainFall linear infinite;
}

@keyframes rainFall{
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(100vh);
  }
}
#butterfly-container{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
}

.butterfly{
    position:absolute;
    font-size:30px;
    animation:
        flyAcross 12s linear forwards,
        flap 0.4s infinite alternate;
}
@keyframes flyAcross{
    from{
        left:-50px;
    }
    to{
        left:110vw;
    }
}

@keyframes flap{
    from{
        transform:translateY(-5px);
    }
    to{
        transform:translateY(5px);
    }
}